#root {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-title {
  font-size: 20px;
  text-align: left;
}

.toolbar-top {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  justify-content: space-between;
}


.toolbar-bottom {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.index_terminal__teubZ {
  width: 55vw !important;
  border: 2px solid #FFF !important;
  border-radius: 5px 5px 0px 0px !important;
  border-bottom: 0 !important;
}

#terminalEditor::-webkit-scrollbar {
  display: none !important;
}

#terminalEditor {
  height: 300px;
}

.terminal-footer {
  border-radius: 0px 0px 5px 5px;
  border: 2px solid #FFF;
  border-top: 0;
  background-color: #757761;
  width: 55vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

