#root {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-size: 20px;
  text-align: left;
}

.toolbar-top {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  justify-content: space-between;
}


.toolbar-bottom {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.index_terminal__teubZ {
  width: 55vw !important;
  border: 2px solid #FFF !important;
}

#terminalEditor::-webkit-scrollbar {
  display: none !important;
}

#terminalEditor {
  height: 300px;
}
