@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #121212;
  

}

.App {
  min-height: 100vh;
}

.App-header {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-top: 0.1875rem solid #858585 !important;
}

.nav-link {
  border-top: 0.1875rem solid #121212 !important;
  font-size: 1.1rem;
}

.nav-item {
  font-size: 1.1rem;
}

.nav-link:hover {
  border-top: 0.1875rem solid #858585 !important;
  transition: .2s ease-in-out !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid #858585 !important;
  transition: .2s ease-in-out !important;
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid #858585 !important;
  transition: .2s ease-in-out !important;
}

.navbar-dark {
  background-color: #121212;
  position: sticky !important;
}


.navbar-brand:hover {
  color:#858585 !important;
  transition: .2s ease-in-out;
}

.navbar-brand {
  cursor: pointer;
}

.header-wrapper {
  position: relative;
  background-color:#121212;
  background-position: center;
  height: 90vh;
}

button.rec-dot{
  background-color:transparent;
  box-shadow: 0 0 1px 3px #858585;
}
button.rec-dot_active{
  background-color:#858585;
  box-shadow: 0 0 1px 3px #858585;
}

button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
  box-shadow: 0 0 1px 3px #858585;
}

::-webkit-scrollbar-track
{
  box-shadow: none;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 0px;
	background-color: #121212;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #858585;
}

::-webkit-scrollbar-thumb
{
  box-shadow: none;
	border-radius: 0px;
	
	background-color: #858585;
}

.rec-item-wrapper {
  background-color: #121212;
}

.welcome-wrapper {
  position: relative;
  background-color:#121212;
  height: 70vh;
}

.welcome-info {
  display: flex;
  position: fixed;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  bottom: 0;
  margin-bottom: 10px;
}

.welcome-info h1 {
  color: #fbfbfb;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 116px;
  margin-left: 20px;
  z-index: 0;
}

.footer {
  bottom: 0;
}

#mail-button:hover {
  background: transparent;
  color:#fbfbfb;
}

#github-button:hover {
  background: transparent;
  color:#fbfbfb;
}

#linkedin-button:hover {
  background: transparent;
  color:#fbfbfb;
}

#github-icon:hover {
  color: #3f51b5;
}

#linkedin-icon:hover {
  color: #3f51b5;
}

#mail-icon:hover {
  color: #3f51b5;
}


#footer-box-left {
  font-size: 20px;
  color: #fbfbfb;
  font-family: 'Roboto Condensed', sans-serif;
  flex-grow: 1;
  justify-content: flex-start;

}
#footer-box-right {
  font-size: 20px;
  color: #fbfbfb;
  font-family: 'Roboto Condensed', sans-serif;
  flex-grow: 1;
  right: 0;
  justify-content: flex-end;
  margin-right: 20px;
}

#toolbar-bottom{
  margin-left: 20px;
  margin-right: 20px;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100vw;
}

.index_terminal__1dSq1 {
  width: 400px !important;
  height: 600px !important;
  margin-top: 10rem !important;
  z-index: 2000 !important;
  position: relative !important;
}

.index_editor__2tqRz {
  height: 600px !important;
  overflow-y: hidden !important;
  z-index: 2000 !important;
  position: relative !important;
}


/************Media queries*************/

@media screen and (max-width: 768px) {
  .welcome-info h1 {
    font-size: 45px;
    margin-left: 10px;
    margin-top: 35vh;
  }

  #toolbar-bottom{
    margin-left: 0;
    margin-right: 0;
  }

  #footer-box {
    font-size: 18px;
  }
  .index_terminal__1dSq1 {
    width: 80% !important;
    margin-top: 6rem !important;
  }
}

@media screen and (max-width: 376px) {
  
  .index_editor__2tqRz {
    font-size: 0.9rem !important;
  }

  .welcome-info h1 {
    margin-top: 18vh;
  }

  .navbar-brand{
    font-size:1.2rem ;
  }

  #toolbar-bottom{
    margin-left: 0;
    margin-right: 0;
  }

  #footer-box {
    font-size: 18px;
  }
  .index_terminal__1dSq1 {
    width: 80% !important;
    margin-top: 6rem !important;
  }
}

@media screen and (max-height: 376px) {
  .welcome-info h1 {
    font-size: 45px;
    margin-left: 10px;
    margin-top: 48vh;
  }  

}

@media screen and (max-height: 415px) {
  .welcome-info h1 {
    font-size: 45px;
    margin-left: 10px;
    margin-top: 48vh;
  }
}

/*@media screen and (max-height: 900px) {
  .index_terminal__1dSq1 {
    margin-top: 5rem !important;
  }
}*/